docker.enabled = false
conda.enabled = true

/*
* Pipeline parameters
*/
// can also be customized with a yaml but we stick to defining it here for now
params {
    conda = 'human_intestinal.yml'
    raw_url = 'https://datasets.cellxgene.cziscience.com/a0a6b5b8-afb9-4911-a1c5-ce1c9b6aa057.h5ad'
    raw_counts = "${projectDir}/data/adata_all.h5ad"
    donor_disease = ["control","organ_donor","CD","UC","PIBD"]
    donor_category = ["control","disease"]
    organ_groups = ["Small_intestine","Large_intestine"]
    // level = 'level_2_annot'
    cell_type = "Epithelial"
    batch = 'donorID_unified'
    cov_of_interest =  'sampleID'
    comparison_key = 'donor_disease_category'

}


/*
* Process settings
*/
process {
    executor = 'slurm'
    memory = 100.GB
    cpus = 20
    conda = params.conda

    withName: 'load_data' {
        memory = 10.GB
        cpus = 5
    }

    withName: 'subsetting_1' {
        cpus = 5
    } 

    withName: 'preprocessing' {
        cpus = 5
    }

    withName: 'normalization' {
        memory = 40.GB
        cpus = 5
    }

    withName: 'qc_plot' {
        memory = 30.GB
        cpus = 10
    }

    withName: 'subsetting_2' {
        cpus = 5
    }

    withName: 'scvi' {
        memory = 200.GB
        cpus = 8
        clusterOptions = '--gres=gpu:rtx_pro_4500b:1 --partition=LocalQ'
    }

    withName: 'mrvi' {
        memory = 200.GB
        cpus = 8
        clusterOptions = '--gres=gpu:rtx_pro_4500b:1 --partition=LocalQ'
    }

    withName: 'umap_after_batch_cor' {
        memory = 200.GB
        cpus = 20
        clusterOptions = '--gres=gpu:rtx_pro_4500b:1 --partition=LocalQ'
    }

    withName: 'differential_abundance_calc' {
        memory = 200.GB
        cpus = 20
        clusterOptions = '--gres=gpu:rtx_pro_4500b:1 --partition=LocalQ'
    }

        withName: 'differential_abundance_plot' {
        memory = 100.GB
        cpus = 20
        clusterOptions = '--gres=gpu:rtx_pro_4500b:1 --partition=LocalQ'
    }

    withName: 'differential_expression_calc' {
        memory = 200.GB
        cpus = 50
        clusterOptions = '--gres=gpu:rtx_pro_4500b:1 --partition=LocalQ'
    }
    
}

report {
    enabled = true
}

/*
* Output settings
*/
// outputDir = "custom-outdir-config/"
workflow.output.mode = 'copy'